<form class="search-form">
  <mat-form-field class="search-form-full-width Input" appearance="outline">
    <input id="input"  class="Input-text" (keyup)="query$.next($event.target.value)" type="text" placeholder="Search for a skill/ work" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let skill of skills | slice:0:5" [value]="skill.skill">
        <button class="btn" mat-flat-button routerLink="/search/{{skill.skill}}">{{skill.skill}}</button>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>