<nav>
  <app-site-header></app-site-header>
</nav>
<div class="container1">
  <mat-grid-list cols="12" rowHeight="100vh">
    <mat-grid-tile
      colspan="3"
      rowspan="1"
      style.background="lightblue"
      >
        <app-dev-filters></app-dev-filters>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="9"
      rowspan="2"
      style.background="lightblue"
      >
      <div class="container">
          <div *ngFor="let profile of result">
              <div class="card">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                          <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        </div>
                        <mat-card-title>{{ profile.username }}</mat-card-title>
                        <mat-card-subtitle>{{profile.email}}</mat-card-subtitle>
                      </mat-card-header>
                      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button color="accent" mat-button>LIKE</button>
                        <button color="primary" mat-button>Follow</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
          </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<footer>
  <app-site-footer></app-site-footer>
</footer>