<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button routerLink="/" mat-button color="warning" class="icon">FREELANCE</button>
    <span class="spacer"></span>
    <button *ngIf="isLoggedIn" mat-button color="warning" class="right-menu" routerLink="/dashboard">Dashboard</button>
    <button mat-button color="warning" class="right-menu" routerLink="/jobs">Find Jobs</button>
    <button mat-button color="warning" class="right-menu" routerLink="/jobs">Find Developers</button>
    <button mat-button color="warning" class="right-menu" routerLink="/search">Search</button>
    <button mat-button color="warning" class="right-menu" routerLink="/auth/signin">SignIn</button>
    <button mat-button color="warning" class="right-menu" routerLink="/auth/signup">SignUp</button>
  </mat-toolbar-row>
</mat-toolbar>
