<div class="header">
  <p>Header {{username}}</p>
</div>
<div class="row flex-class">
  <div class="left flex-class">
    <div class="user-profile flex-class">
      <div class="profile-image">
        <img class="image" width=180 height=180 src="http://amentotech.com/htmls/worktern/images/user/userlisting/img-03.jpg" alt="">
        <p class="text">Yogendra</p>
        <p class="text">Web Developer</p>
      </div>
    </div>
  </div>
  <div class="right flex-class">
    <div class="user-deatils flex-class">
      <div class="single-row flex-class">
        <div class="row1 data-row">
            <p><span><strong>First Name : </strong></span><span>Yogendra</span></p>
        </div>
        <div class="row2 data-row">
            <p><span><strong>Last Name : </strong></span><span>R</span></p>
        </div>
      </div>
      <div class="single-row flex-class">
        <div class="row1 data-row">
            <p><span><strong>First Name : </strong></span><span>Yogendra</span></p>
        </div>
        <div class="row2 data-row">
            <p><span><strong>Last Name : </strong></span><span>R</span></p>
        </div>
      </div>
      <div class="single-row flex-class">
        <div class="row1 data-row">
            <p><span><strong>First Name : </strong></span><span>Yogendra</span></p>
        </div>
        <div class="row2 data-row">
            <p><span><strong>Last Name : </strong></span><span>R</span></p>
        </div>
      </div>
      <div class="single-row flex-class">
        <div class="row1 data-row">
            <p><span><strong>First Name : </strong></span><span>Yogendra</span></p>
        </div>
        <div class="row2 data-row">
            <p><span><strong>Last Name : </strong></span><span>R</span></p>
        </div>
      </div>
    </div>
  </div>
</div>