.test-container{
    display: flex;
    flex-direction: row;
    margin-left: 3em;
}
.test-item1 {
    margin: 3em;
    color: teal;
}
.test-item2 {
    margin: 3em;
    color: chocolate;
}
.test-item3 {
    margin: 3em;
    color: violet;
}
.test-item4 {
    margin: 3em;
    color: cyan;
}
.material-icons {
    font-size: 200px;
}