.profile-list
{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}
.single-profile
{
  display: flex;
  justify-content: center;
  flex: 1 1 350px;
}

.hidden-flex-item
{
  content: "";
  flex: 1 0 350px;
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .profile-list {
    justify-content: center;
  }
}
